<% set_meta_tags :og => {
  :title    => 'Check out Ultra Inspired!',
  :image    =>  asset_url('refer/uil-logo-middle-square.png'),
  :description => 'Ultra Inspired Living is a new community. You can come and join to win your own ultra inspired products too!'
} %>

<% set_meta_tags :twitter => {
  :card  => "photo",
  :image => {
    :_      => asset_url('refer/uil-logo-middle-square.png'),
    :width  => 300,
    :height => 100,
  }
} %>

<div class="hero"></div>
<div>
  <%= image_tag "home/uil-logo-middle.png", :style => "width: 100%;" %>
</div>

<div class="form-wrap clearfix text-center ">
  <p>Ultra Inspired Living is Coming!</p>
  <p>Making your transition to a vibrantly healthy lifestyle easy.</p>

  <p class="byline brandon">Be the first to know</p>

  <%= image_tag "home/key-icon.png", :class => "key" %>

  <%= form_for @user, :html => {:class => "form-inline"} do |f| %>
    <%= f.email_field :email, {:class => "input-medium cfe", :placeholder => "Email Address"} %>
    <%= image_submit_tag "home/step-inside-black.png", :class => "new_user_sumit_image"  %>
  <% end %>
</div>