<div class="hero">
  <div class="refer-heading-texts">
    <p class="brandon white">ULTRA INSPIRED LIIVING'S</p>
    <p class="brandon white">THANK YOU FOR SIGNING UP</p>

    <p class="white">Invite Friends & Earn Product</p>

    <p class="white">Share your unique link via email, Facebook or Twitter and earn</p>

    <p class="white">Ultra Inspired Livings good for each friend who signs up.</p>

    <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>

    <div>
      <p class="white">INVITE NOW
        <i class="fa fa-facebook white"></i>
        <i class="fa fa-twitter white"></i>
        <i class="fa fa-envelope white"></i>
      </p>      
    </div>
  </div>
</div>

<% 
referrals_count = @user.referrals.count

stops = User::REFERRAL_STEPS

found = nil

stops.reverse_each { |stop|
  if stop["count"] <= referrals_count and !found
    stop["selected"] = true
    found = stop
  else
    stop["selected"] = false
  end
}   
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout brandon">Here's How It Works:</p>
    <ul class="products clearfix">
      <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">Harry's Product</p></li>
      <% stops.each do |stop| %>
        <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="circle"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p><%= stop["html"].html_safe %></p>

          <div class="tooltip">
            <img src="<%= stop["image"] %>" height="254">
          </div>
        </li>
      <% end %>
    </ul>

    <div class="progress">
      <div class="mover">
        <div class="bar clearfix"></div>
      </div>
    </div>

    <%
    words = ''
    if referrals_count == 1
      words = 'friend has'
    elsif
      words = 'friends have'
    end

  %>

    <% if referrals_count == 0 %>
      <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
    <% else %>
      <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
    <% end %>
    <p class="check brandon">Keep checking</p>

    <p class="ship brandon">We ship to the U.S. (& Canada Soon)</p>
    <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a>
  </div>
</div>