<% set_meta_tags :og => {
  :title    => 'Check out Ultra Inspired!',
  :type     => 'website',
  :url      => "#{root_url}?ref=#{@user.referral_code}",
  :image    =>  asset_url('refer/uil-logo-middle-square.png'),
  :description => 'Ultra Inspired Living is a new community. You can come and join to win your own ultra inspired products too!'
} %>

<div class="refer hero">
  <div class="refer-heading-texts">
    <p class="white stryde-thin uil">ULTRA INSPIRED LIIVING'S</p>
    <p class="white stryde-thin thanks-signup">THANK YOU FOR SIGNING UP</p>
    <p class="white play-fair invite-friends">Invite Friends & Earn Product</p>
    <div class="get-free-good">
      <p class="white serif">Share your unique link via email, Facebook or Twitter and earn</p>
      <p class="white serif">Ultra Inspired Livings goods for each friend who signs up.</p>
    </div>
    <div class="copy-link serif"><%= root_url %>?ref=<%= @user.referral_code %></div>
    <div class="invite-via-social ">
      <p class="white stryde-thin invite-now">INVITE NOW
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Check+out+Ultra+Inspired!" target="_blank">
          <i class="fa fa-facebook white"></i>
        </a>
        <% tweet_msg = 'Check out #UltraInspired!. You can come and join to win your own ultra inspired products too!' %>
        <a href='http://twitter.com/share?url=<%= tweet_url(:ref=> @user.referral_code)%>&text=<%= CGI::escape(tweet_msg) %>' target="_blank">
          <i class="fa fa-twitter white"></i>
        </a>
        <a href="mailto:?subject=Check+out+Ultra+Inspired!&body=Ultra+Inspired+Living+is+a+new+community.+You+can+come+and+join+to+win+your+own+ultra+inspired+products+too!+<%= "#{root_url}?ref=#{@user.referral_code}" %>">
          <i class="fa fa-envelope white"></i>
        </a>
      </p>      
    </div>
  </div>
</div>

<% 
referrals_count = @user.referrals.count

stops = User::REFERRAL_STEPS

found = nil

stops.reverse_each { |stop|
  if stop["count"] <= referrals_count and !found
    stop["selected"] = true
    found = stop
  else
    stop["selected"] = false
  end
}   
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout stryde-thin">Here's How It Works:</p>
    <ul class="products clearfix">
      <li class="title stryde-thin"><p class="friends">Friends Joined</p><p class="rewards">ULTRA INSPIRED PRODUCT</p></li>
      <% stops.each_with_index do |stop, index| %>
        <li class="product stryde-thin <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="circle stryde-thin"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p class="play-fair step"><%= stop["html"].html_safe %></p>

          <div class="tooltip">
            <img alt=""  src="<%= stop["image"] %>" height="254"></img>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="progress">
      <div class="mover">
        <div class="bar clearfix"></div>
      </div>
    </div>

    <%
    words = ''
    if referrals_count == 1
      words = 'friend has'
    elsif
      words = 'friends have'
    end

  %>

    <% if referrals_count == 0 %>
      <p class="place stryde-thin">No friends have joined Yet!</p>
    <% else %>
      <p class="place stryde-thin"><span><%= referrals_count %></span> <%= words %> joined</p>
    <% end %>
    <p class="check play-fair">Keep checking!</p>
  </div>
</div>