<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Harry&#8217;s &ndash; Tell Friends, Shave for Free</title>
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon"/>
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon"/>
    <meta property="og:title" content="Harry’s is coming!"/>
    <meta property="og:description" content="Shaving is evolving. Didn’t want to leave you all behind. Check out Harry’s here."/>
    <meta property="og:image" content="<%= asset_path("refer/truman.png") %>"/>
    <meta property="og:url" content="<%= root_url %>"/>    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
